header {
    position: relative;
    background-color: #C1121F;
    padding: 30px;
    height: 100px;
}

.header-title {
    text-align: center;
}

#logo {
    width: 220px;
    position: absolute;
    margin-bottom: 0px;
    filter: drop-shadow(0 0 5px white);
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-color: #0B0D10;
    color: white;
}

h1 {
    font-size: 40px;
    margin: 0px;
}

header p {
    font-size: 20px;
    margin: 5px;
}

.question {
    background-color: #181B20;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.question h2 {
    margin-top: 0;
}

.question label {
    font-size: 18px;
    margin: 10px 0;
}

.question:hover {
    transform: scale(1.02);
}

.question input {
    margin-right: 8px;
}